* {
  margin: 0;
  box-sizing: border-box;
}
.home {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.content {
  color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 85vh;
  padding: 60px;
}
.content h1 {
  font-size: 90px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.content p {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    min-height: 100vh;
  }
  .content {
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
  }
  .content h1 {
    font-size: 30px;
  }
  .content p {
    font-size: 16px;
  }
}
